<h1>People</h1>
<% @people.each do |person| %>
  Person: <%= person.name %>
  <br>
<% end %>

<h3>Create people</h3>
<form action="/people" method="post">
  <label for="name">Person name:</label>
  <input name="name" type="text">
  <input type="submit">Create Person</input>
</form>

<h1>Accounts</h1>
<% if @accounts.length == 0 %>
  No accounts
<% else %>
  <% @accounts.each do |account| %>
    Account: <%= account.name %>
    <br>
  <% end %>
<% end %>

<h3>Create accounts</h3>
<form action="/accounts" method="post">
  <label for="name">Account name:</label>
  <input name="name" type="text">
  <input type="submit">Create Account</input>
</form>

<h3>Create incomes</h3>
<form action="/incomes" method="post">
  <label for="account_id">Account</label>
  <select id="idk" name="account_id">
    <% @accounts.each do |a| %>
      <option value="<%= a.id %>"><%= a.name %></option>
    <% end %>
  </select>
  <label for="amount">Amount</label>
  <input name="amount" type="number" />

  <label for="currency">Currency</label>
  <input name="currency" type="text" />

  <label for="day_of_month">Day of month</label>
  <input name="day_of_month" type="number" />

  <input type="submit">Create Income</input>
</form>

<form id="accountform">
  <input type="submit">Filter to this account</input>
</form>

<select id="idk" name="account" form="accountform">
  <% @accounts.each do |a| %>
    <option value="<%= a.id %>"><%= a.name %></option>
  <% end %>
</select>

<% @cash_flow.each do |i| %>
  <p><%= "Day: #{i.day_of_month} | #{i.amount}"%></p>
<% end %>