<div class="columns mt-4">
  <div class="column is-one-fifth">
    <div class="level-left block">
      <a href="/transactions/create" class="button is-primary">Add Transaction</a>
    </div>

    <nav class="panel ">
      <p class="panel-heading">
        Filters
      </p>

      <div class="panel-tabs">
        <a class="<%= 'is-active' if @page == :transactions %>" href="/transactions">Tags</a>
        <a class="<%= 'is-active' if @page == :transactions_tag_sets %>" href="/transactions/tag_sets">Tag Sets</a>
      </div>      

      <% if @page == :transactions %>
        <%= erb :transaction_filters_tags, locals: { params: params, tag_index: data[:tag_index], accounts: accounts } %>
      <% elsif @page == :transactions_tag_sets %>
        <%= erb :transaction_filters_tag_sets, locals: { params: params, tag_sets: data[:tag_sets] } %>
      <% end %>
    </nav>
  </div>
  
  <div class="column">
    <%= erb :transaction_table, locals: { transactions: data[:transactions].transactions, tag_index: data[:tag_index] } %>
    <div class="block">
      <p>Sum: <%= data[:transactions].sum %></p>
      <p>% Income: 50%</p>
    </div>
  </div>
</div>

