<div class="level-left mt-4">
  <a href="/transactions/create" class="button is-primary">Add Transaction</a>
</div>

<div class="columns mt-4">

  <div class="column is-one-fifth">
    <nav class="panel">
      <p class="panel-heading">
        Tags
      </p>

      <a class="panel-block has-text-danger" href="/transactions">Clear Tags</a>

      <form id="tagform">
        <div class="panel-block">
          <div class="field">
            <button class="button is-link is-small" type="submit">Filter to these tags</button>
          </div>
        </div>

        <div class="panel-block">
          <div class="control">
            <label class="radio">
              <input type="radio" name="intersection" value="false" checked />
              Union
            </label>
            <label class="radio">
              <input type="radio" name="intersection" value="true" <%= 'checked' if params[:intersection] == 'true' %> />
              Intersection
            </label>
          </div>
        </div>

        <% tag_index.values.flatten.map(&:name).uniq.sort.each do |tag| %>
          <div class="panel-block">
            <label class="checkbox">
              <input
                type="checkbox"
                name="transaction_tag[]"
                form="tagform"
                value="<%= tag %>"
                <%= 'checked' if params[:transaction_tag]&.include?(tag) %>
              >
              </input>
              <%= tag %>
            </label>
          </div>
        <% end %>

        <div class="panel-block is-flex-direction-column">
          <form action="/transaction_tag_sets" formmethod="POST">
            <div class="field">
              <label class="label" for="title">Tag Set Name</label>
              <div class="control">
                <input class="input" type="text" name="title" />
              </div>
            </div>
            <div class="field">
              <button class="button is-primary is-small" type="submit">
                Save as Tag Set
              </button>
            </div>
          </form>
        </div>
      </form>
    </nav>
  </div>
  
  <div class="column">
    <%= erb :transaction_table, locals: { transactions: data, tag_index: tag_index } %>
  </div>
</div>
