<p>
  <span class="<%= bold_text %> mr-4">
    <%= transaction.name %>
  </span>
  <span class="<%= supporting_text %>">
    <%= transaction.amount %> on day <%= transaction.day_of_month %>
  </span>
</p>