<div class="container">
<table class="table is-fullwidth">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Due On</th>
    <th>Tags</th>
    <th/>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.day_of_month %></td>
        <td class="transaction-table-tag-data">
          <% if tag_index[transaction.id] %>
            <% tag_index[transaction.id].each do |tag| %>
              <span class="tag"><%= tag.name %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <a class="button is-small is-primary is-pulled-right" href="/transactions/<%= transaction.id %>/tags/create">Add Tag</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>