<div class="container">
  <h1 class="title">Create Transaction</h1>
  <form 
    action="<%= interactions[:create_transaction][:name] %>" 
    method="<%= form_action(interactions[:create_transaction]) %>"
  >
    <%= input_field(interactions[:create_transaction], :name) %>
    <%= select_field(interactions[:create_transaction], :account, @accounts) %>
    <%= select_field(interactions[:create_transaction], :scenario, @scenarios) %>
    <%= input_field(interactions[:create_transaction], :amount) %>
    <%= input_field(interactions[:create_transaction], :currency) %>
    <%= input_field(interactions[:create_transaction], :recurrence_rule) %>
    <%= input_field(interactions[:create_transaction], :occurs_on) %>

    <button class="button is-primary" type="submit">Create Transaction</input>
  </form>
</div>