<div class="container">
<table class="table is-fullwidth is-striped">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Recurrence Rule</th>
    <th>Tags</th>
    <th/>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= display_recurrence_rule(transaction.recurrence_rule) %></td>
        <td class="transaction-table-tag-data">
          <% if tag_index[transaction.id] %>
            <% tag_index[transaction.id].each do |tag| %>
              <span class="tag"><%= tag.name %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <div class="columns">
            <div class="column is-pulled-right">
              <%= delete_form(
                interactions[:delete_transaction], 
                transaction.id,
                'is-pulled-right'
              ) %>              
            </div>
            <div class="column is-pulled-right">
              <a class="button is-small is-primary is-pulled-right" href="/transactions/<%= transaction.id %>/tags/create">Add Tag</a>
              </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>