<div class="columns mt-4">
  <div class="column is-2">
    <a class="panel-block has-text-danger" href="/transactions">Clear Filters</a>

    <nav class="panel">
      <div class="panel-tabs">
        <a class="<%= 'is-active' if @page == :transactions %>" href="/transactions">Tags</a>
        <a class="<%= 'is-active' if @page == :transactions_tag_sets %>" href="/transactions/tag_sets">Tag Sets</a>
      </div>

      <!-- Need to handle nesting here. transactions_schedule is nested within transactions.  -->
      <!-- Prob need a "navigation path" -->

      <% if @page == :transactions || @page == :transactions_schedule %>
        <%= render(TransactionFiltersTagsView.new(params: params, tag_index: data[:tag_index], accounts: accounts)) %>
      <% elsif @page == :transactions_tag_sets %>
        <%= render(TransactionFiltersTagSetsView.new(params: params, tag_sets: data[:tag_sets])) %>
      <% end %>
      
    </nav>
    <% if @page == :transactions_schedule %>
      <form action="/transactions/schedule">
        <div class="card">
          <div class="card-content">
            <h1 class="title is-5">Date period</h1>

            <div class="control radio-list">
              <label class="radio">
                <input
                  type="radio"
                  name="date_period"
                  value="current_month"
                  <%= 'checked' if params[:date_period] == 'current_month' || params[:date_period].nil? %>
                >
                Current Month
              </label>
              <label class="radio">
                <input
                  type="radio"
                  name="date_period"
                  value="current_year"
                  <%= 'checked' if params[:date_period] == 'current_year' %>
                >
                Current Year
              </label>
            </div>

            <div class="field">
              <label class="label" for="start_date">
                Start date
                <input class="input" type="date" value="<%= params[:start_date] %>" name="start_date">
              </label>
            </div>
            <div class="field">
              <label class="label" for="end_date">
                End date
                <input class="input" type="date" value="<%= params[:end_date] %>" name="end_date">
              </label>
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
              <button class="button is-link" type="submit">Apply</button>
            </div>
          </footer>
        </div>
      </form>
    <% end %>
  </div>
  
  <div class="column">
    <% if @page == :transactions_schedule %>
      <%= render(
        TransactionTableHeaderView.new(
          title: 'Scheduled Transactions', 
          interactions: interactions,
          )
        ) %>
      <% if data[:transactions].first.respond_to?(:incomes) %>
        <%= render(TransactionsByPayPeriodView.new(pay_periods: data[:transactions])) %>
      <% else %>
        <%= render(TransactionsByMonthView.new(periods: data[:transactions])) %>
      <% end %>
    <% else%>
      <%= render(
        TransactionTableHeaderView.new(
          title: 'Recurring Transactions',
          interactions: interactions
        )
       ) %>
      <%= render(PlannedTransactionTableView.new(transactions: data[:transactions].transactions, tag_index: data[:tag_index])) %>
    <% end %>
  </div>
  
</div>

